.button {
  background-color: #00578a;
  padding: 10px 16px;
  margin: 12px;
  border-radius: 6px;

  &--green {
    background-color: #00b200;

    &:hover {
      background-color: #009900;
    }
  }

  &:disabled,
  &[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: default;
  }
}
